<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DemoUploadServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DemoUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectMajors</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.SelectMajors</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMajors</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.AddMajors</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectMajorById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.SelectMajorById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMajors</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UpdateMajors</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BeginPPTServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.BeginPPTServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadBeginPPT</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadBeginPPT</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteBeginPPTById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteBeginPPTById</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadBeginPlan</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadBeginPlan</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BeginPlanServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.BeginPlanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteBeginPlanById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteBeginPlanById</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BeginPlanIndexServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.BeginPlanIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadBeginPlanIndex</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadBeginPlanIndex</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteBeginPlanIndexById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteBeginPlanIndexById</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeachPlanServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.TeachPlanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadTeachPlan</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadTeachPlan</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteTeachPlan</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteTeachPlan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectMajorSetPlan</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.SelectMajorSetPlan</servlet-class>
  </servlet>
   <servlet>
      <servlet-name>DeletePracticePlan</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeletePracticePlan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPracticePlan</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadPracticePlan</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>PracticePlanServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.PracticePlanServlet</servlet-class>
  </servlet>

   <servlet>
      <servlet-name>DeletePracticeMissionNote</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeletePracticeMissionNote</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPracticeMissionNote</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadPracticeMissionNote</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>PracticeMissionNoteServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.PracticeMissionNoteServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>AddUsers</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.AddUsers</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>DeleteUsers</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteUsers</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ResetPasswd</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.ResetPasswd</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>SelectUsers</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.SelectUsers</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>SelectUsersByName</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.SelectUsersByName</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>SelectUsersIsExist</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.SelectUsersIsExist</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>UpdateUsers</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UpdateUsers</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>UpdateUsersInPasswd</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UpdateUsersInPasswd</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>MidTermPlan</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.MidTermPlan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadMTPlan</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadMTPlan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelectMidTermPlanById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DelectMidTermPlanById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MidTrrmPlanIndex</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.MidTrrmPlanIndex</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MidTermPlanIndex</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.MidTermPlanIndex</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadMTPlanIndex</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadMTPlanIndex</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelectMidTermPlanIndexById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DelectMidTermPlanIndexById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMidPlanById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteMidPlanById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMidPlanIndexById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteMidPlanIndexById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MidPPTServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.MidPPTServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadMidPPT</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadMidPPT</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMidpptById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteMidpptById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QAServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.QAServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadQA</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadQA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteQAById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteQAById</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ListenreportServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.ListenreportServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>UploadListenreport</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadListenreport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteListenreportById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteListenreportById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Practice_noteServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.Practice_noteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePractice_note</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UpdatePractice_note</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePractice_note</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeletePractice_note</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.PaperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPaper</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadPaper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePaperById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeletePaperById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteScoreById</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.DeleteScoreById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadScore</servlet-name>
    <servlet-class>cn.edu.hbcit.servlet.UploadScore</servlet-class>
  </servlet>























	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/servlet/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/patchca.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DemoUploadServlet</servlet-name>
    <url-pattern>/servlet/DemoUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectMajors</servlet-name>
    <url-pattern>/servlet/SelectMajors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMajors</servlet-name>
    <url-pattern>/servlet/AddMajors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectMajorById</servlet-name>
    <url-pattern>/servlet/SelectMajorById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMajors</servlet-name>
    <url-pattern>/servlet/UpdateMajors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/servlet/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BeginPPTServlet</servlet-name>
    <url-pattern>/servlet/BeginPPTServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadBeginPPT</servlet-name>
    <url-pattern>/servlet/UploadBeginPPT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBeginPPTById</servlet-name>
    <url-pattern>/servlet/DeleteBeginPPTById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadBeginPlan</servlet-name>
    <url-pattern>/servlet/UploadBeginPlan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BeginPlanServlet</servlet-name>
    <url-pattern>/servlet/BeginPlanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBeginPlanById</servlet-name>
    <url-pattern>/servlet/DeleteBeginPlanById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BeginPlanIndexServlet</servlet-name>
    <url-pattern>/servlet/BeginPlanIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadBeginPlanIndex</servlet-name>
    <url-pattern>/servlet/UploadBeginPlanIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBeginPlanIndexById</servlet-name>
    <url-pattern>/servlet/DeleteBeginPlanIndexById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeachPlanServlet</servlet-name>
    <url-pattern>/servlet/TeachPlanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadTeachPlan</servlet-name>
    <url-pattern>/servlet/UploadTeachPlan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTeachPlan</servlet-name>
    <url-pattern>/servlet/DeleteTeachPlan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectMajorSetPlan</servlet-name>
    <url-pattern>/servlet/SelectMajorSetPlan</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>PracticePlanServlet</servlet-name>
    <url-pattern>/servlet/PracticePlanServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UploadPracticePlan</servlet-name>
    <url-pattern>/servlet/UploadPracticePlan</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>DeletePracticePlan</servlet-name>
    <url-pattern>/servlet/DeletePracticePlan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>PracticeMissionNoteServlet</servlet-name>
    <url-pattern>/servlet/PracticeMissionNoteServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UploadPracticeMissionNote</servlet-name>
    <url-pattern>/servlet/UploadPracticeMissionNote</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>DeletePracticeMissionNote</servlet-name>
    <url-pattern>/servlet/DeletePracticeMissionNote</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>MidTermPlan</servlet-name>
    <url-pattern>/servlet/MidTermPlan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadMTPlan</servlet-name>
    <url-pattern>/servlet/UploadMTPlan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelectMidTermPlanById</servlet-name>
    <url-pattern>/servlet/DelectMidTermPlanById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MidTrrmPlanIndex</servlet-name>
    <url-pattern>/servlet/MidTrrmPlanIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MidTermPlanIndex</servlet-name>
    <url-pattern>/servlet/MidTermPlanIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadMTPlanIndex</servlet-name>
    <url-pattern>/servlet/UploadMTPlanIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelectMidTermPlanIndexById</servlet-name>
    <url-pattern>/servlet/DelectMidTermPlanIndexById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMidPlanById</servlet-name>
    <url-pattern>/servlet/DeleteMidPlanById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMidPlanIndexById</servlet-name>
    <url-pattern>/servlet/DeleteMidPlanIndexById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MidPPTServlet</servlet-name>
    <url-pattern>/servlet/MidPPTServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadMidPPT</servlet-name>
    <url-pattern>/servlet/UploadMidPPT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMidpptById</servlet-name>
    <url-pattern>/servlet/DeleteMidpptById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QAServlet</servlet-name>
    <url-pattern>/servlet/QAServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadQA</servlet-name>
    <url-pattern>/servlet/UploadQA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteQAById</servlet-name>
    <url-pattern>/servlet/DeleteQAById</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AddUsers</servlet-name>
    <url-pattern>/servlet/AddUsers</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>DeleteUsers</servlet-name>
    <url-pattern>/servlet/DeleteUsers</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ResetPasswd</servlet-name>
    <url-pattern>/servlet/ResetPasswd</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>SelectUsers</servlet-name>
    <url-pattern>/servlet/SelectUsers</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>SelectUsersByName</servlet-name>
    <url-pattern>/servlet/SelectUsersByName</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>SelectUsersIsExist</servlet-name>
    <url-pattern>/servlet/SelectUsersIsExist</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UpdateUsers</servlet-name>
    <url-pattern>/servlet/UpdateUsers</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UpdateUsersInPasswd</servlet-name>
    <url-pattern>/servlet/UpdateUsersInPasswd</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>ListenreportServlet</servlet-name>
    <url-pattern>/servlet/ListenreportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadListenreport</servlet-name>
    <url-pattern>/servlet/UploadListenreport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteListenreportById</servlet-name>
    <url-pattern>/servlet/DeleteListenreportById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Practice_noteServlet</servlet-name>
    <url-pattern>/servlet/Practice_noteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePractice_note</servlet-name>
    <url-pattern>/servlet/UpdatePractice_note</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePractice_note</servlet-name>
    <url-pattern>/servlet/DeletePractice_note</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PaperServlet</servlet-name>
    <url-pattern>/servlet/PaperServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPaper</servlet-name>
    <url-pattern>/servlet/UploadPaper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePaperById</servlet-name>
    <url-pattern>/servlet/DeletePaperById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/servlet/ScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteScoreById</servlet-name>
    <url-pattern>/servlet/DeleteScoreById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadScore</servlet-name>
    <url-pattern>/servlet/UploadScore</url-pattern>
  </servlet-mapping>
  
  
  
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>cn.edu.hbcit.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
